{# pkg is either 'server' or 'agent' #}

{% macro gocd_install(pkg) %}

java install jdk:
  pkg.installed:
    - name: openjdk-8-jdk-headless

java install jdk headless:
  pkg.installed:
    - name: openjdk-8-jdk

gocd:
  pkgrepo.managed:
    - name: deb https://download.gocd.io /
    - file: /etc/apt/sources.list.d/gocd.list
    - key_url: https://download.gocd.io/GOCD-GPG-KEY.asc

go-{{ pkg }}:
  pkg.installed: []
  service.running:
    - enable: True
    - require:
      - pkg: go-{{ pkg }}
{% endmacro %}

